logs/*
log/
*.log
!.gitkeep
node_modules/
bower_components/
tmp
dist
.DS_Store
.idea
coverage
npm-shrinkwrap.json
supervisord.log
supervisord.pid
core.*
/.vagrant
*.sublime-workspace
/docs/*
!/docs/readme
*.env
*.env*
!docker.env
/coverage

# MongoDB shared from Docker
data/**/*